# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/react-best-practices.iml
.idea/workspace.xml
node_modules/
package-lock.json
yarn.lock
